<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/css/login.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
		<meta charset="utf-8">
		<title>ToDo - Login</title>
	</head>
	<body>
		<div class="login-form">
			<h1>Login to me!</h1>
			<%if (failed == true) { %>
				<div class="alert alert-warning" role="alert">
					You got your username or password wrong, please try again!
				  </div>
			<% } %>
			<form action="auth/login" method="POST">
				<input type="text" name="username" placeholder="Username" required>
				<input type="password" name="password" placeholder="Password" required>
				<input type="submit">
			</form>
		</div>
	</body>
</html>